:root {
    --cell-size: 10px;
    --num-cols: 81;
  }
  
  * {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
  }

  .cont {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
  }

  .sortviz {
      display: flex;
      align-items: end;
  }

  .bar {
      border: 1px solid black;
      width: 8px;
      margin-left: 1px;
      margin-right: 1px;
  }

  .bar.lastmoved {
      border: 1px solid red;
      background-color: red;
  }

  .bar.mover {
    border: 1px solid blue;
    background-color: blue;
  }